body {
    font-family: 'Roboto', sans-serif;
    header {
        display: flex;
        justify-content: space-between;
        .blogsnav {
            text-decoration: underline;
        }
        .heading {
            display: flex;
        }
        .homebutton {
            display: flex;
            margin-top:20px;
            button {
                background-color: black;
                color: white;
                padding: 0 20px;
                border-radius: 10px;
                cursor: pointer;
                margin-left: 25px;
                margin-bottom: 20px;
                font-size: 20px;
                }
            button:hover {
                box-shadow: 2px 2px;
                color: grey;
            }
        }
        .logo img {
            width: 100px;
        }

        nav {
            display: flex;
            margin: 0;

            ul {
                padding: 5px;
                
                a {
                    text-decoration: none;
                    color: black;
                }
            }

            button{
                background: black;
                color: white;
                cursor: pointer;
            }
            
        }
    }

    main {
        text-align: center;
        margin: auto;
        width: 80%;
        .first{
            
            img {
                width: 70%;
                margin-bottom: 50px;
            }
            .hometext {
                padding-bottom: 100px;
            }
            .borderbot {
                border-bottom: 3px solid black;
                padding-bottom: 5px;
            }
        }
    }

    footer {
        .footerlogo {
        display: flex;
        justify-content: center;
        .pic {
            img {
                width: 50px;
                padding-left: 32px;
                padding-right: 16px;
            }
        }
    }
        .logotag {
            display: flex;
            justify-content: center;
            .tags {
                padding-left: 10px;
                button {
                    background-color: black;
                    color: white;
                    padding: 0 20px;
                    border-radius: 10px;
                    cursor: pointer;
                    margin-bottom: 10px;
                }
            }
        }
    }
}
