body {
  font-family: "Roboto", sans-serif;
}
body header {
  display: flex;
  justify-content: space-between;
}
body header .blogsnav {
  text-decoration: underline;
}
body header .heading {
  display: flex;
}
body header .homebutton {
  display: flex;
  margin-top: 20px;
}
body header .homebutton button {
  background-color: black;
  color: white;
  padding: 0 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 25px;
  margin-bottom: 20px;
  font-size: 20px;
}
body header .homebutton button:hover {
  box-shadow: 2px 2px;
  color: grey;
}
body header .logo img {
  width: 100px;
}
body header nav {
  display: flex;
  margin: 0;
}
body header nav ul {
  padding: 5px;
}
body header nav ul a {
  text-decoration: none;
  color: black;
}
body header nav button {
  background: black;
  color: white;
  cursor: pointer;
}
body main .first {
  justify-content: center;
  display: flex;
}
body main .first .homephoto img {
  width: 400px;
}
body main .first .homephoto img:hover {
  box-shadow: 10px 10px;
  color: rgb(187, 223, 221);
}
body main .first .hometext {
  margin-left: 50px;
}
body main .first .hometext .firsthalftitle {
  display: flex;
}
body main .first .hometext h1 {
  font-size: 60px;
  margin: 0;
}
body main .first .hometext .interact {
  margin: 0 0 0 10px;
  display: inline-block;
  position: relative;
}
body main .first .hometext .interact::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}
body main .first .hometext .interact:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
body main .first .hometext p {
  margin: 0;
}
body main .first .homebutton {
  display: flex;
  margin-top: 20px;
}
body main .first .homebutton button {
  background-color: black;
  color: white;
  padding: 14px 28px;
  border-radius: 10px;
  cursor: pointer;
}
body main .first .homebutton button:hover {
  box-shadow: 5px 5px;
  color: rgb(107, 201, 201);
}
body main .first .homebutton h5 {
  margin: 5px;
  margin-left: 20px;
  margin-top: 15px;
  display: inline-block;
  position: relative;
}
body main .first .homebutton h5::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}
body main .first .homebutton h5:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
body main .first .follow {
  display: flex;
  margin-top: 150px;
}
body main .first .follow p {
  margin: 5px;
  font-size: 20px;
}
body main .first .follow ul {
  padding: 0;
  margin: 0;
}
body main .first .follow img {
  width: 25px;
  padding: 0;
}
body main .second {
  display: flex;
  margin-top: 100px;
  justify-content: center;
}
body main .second .clients {
  width: 200px;
  margin-right: 150px;
}
body main .second .clientlogo {
  display: flex;
}
body main .second .clientlogo img {
  padding: 0;
  width: 50px;
}
body footer .footerlogo {
  display: flex;
  justify-content: center;
}
body footer .footerlogo .pic img {
  width: 50px;
  padding-left: 32px;
  padding-right: 16px;
}
body footer .logotag {
  display: flex;
  justify-content: center;
}
body footer .logotag .tags {
  padding-left: 10px;
}
body footer .logotag .tags button {
  background-color: black;
  color: white;
  padding: 0 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}/*# sourceMappingURL=blogs.css.map */