body {
    font-family: 'Roboto', sans-serif;
    header {
        display: flex;
        justify-content: space-between;
        .contactnav {
            text-decoration: underline;
        }
        .heading {
            display: flex;
        }
        .homebutton {
            display: flex;
            margin-top:20px;
            button {
                background-color: black;
                color: white;
                padding: 0 20px;
                border-radius: 10px;
                cursor: pointer;
                margin-left: 25px;
                margin-bottom: 20px;
                }
            button:hover {
                box-shadow: 2px 2px;
                color: grey;
            }
            }
        .logo img {
            width: 100px;
        }

        nav {
            display: flex;
            margin: 0;

            ul {
                padding: 5px;
                
                a {
                    text-decoration: none;
                    color: black;
                }
            }

            button{
                background: black;
                color: white;
                cursor: pointer;
            }
            
        }
    }

    main {
        .first {
            h1 {
                font-size: 64px;
                margin: 0;
            }
            .hometext {
                display: flex;
                justify-content: center;
            }
            .information {
                margin-top: 80px;
                margin-left: 50px;
                .infoTwo {
                    img {
                        width: 64px;
                        margin-right: 20px;
                    }
                    .infoTwoA {
                    display: flex;
                    margin-top: 10px;
                    }
                    .infoTwoB {
                        display: flex;
                        margin-top: 10px;
                    }
                    .infoTwoC {
                        display: flex;
                        margin-top: 10px;
                    }
                    .infoTwoD {
                        display: flex;
                        margin-top: 10px;
                    }
                }
            }
            .homephoto {
                img {
                    width: 400px;
                }
                img:hover{
                    box-shadow: 10px 10px;
                    color: rgb(187, 223, 221);
                }
            }
            
            .contactform {
                    display: flex;
                    flex-direction: column;
                    // align-items: center;
                    height: 50%;
                    margin-top: 50px;
                    input {
                        border: 0;
                        border-bottom: 2px solid black;
                        outline: 0;
                        width: 50%;
                        height: 30px;
                        font-weight: 700;
                        padding-bottom: 20px;
                    }
                    .message {
                        height: 80px;
                        margin-bottom: 10px;
                        width: 100%;
                    }
                    button {
                        background-color: black;
                        color: white;
                        padding: 14px 28px;
                        border-radius: 10px;
                        cursor: pointer;
                    }
            }

            
            .follow {
            display: flex;
            justify-content: center;
            margin-top: 50px;
            p {
                margin: 5px;
                font-size: 20px;
            }
            ul {
                padding: 0;
                margin: 0;
            }
            img {
                width: 25px;
                padding: 0;
            }
            }
        }
    }

    footer {
        margin-top: 200px;
    .footerlogo {
        display: flex;
        justify-content: center;
        .pic {
            img {
                width: 50px;
                padding-left: 32px;
                padding-right: 16px;
            }
        }
    }
        .logotag {
            display: flex;
            justify-content: center;
            .tags {
                padding-left: 10px;
                button {
                    background-color: black;
                    color: white;
                    padding: 0 20px;
                    border-radius: 10px;
                    cursor: pointer;
                    margin-bottom: 10px;
                }
            }
        }
    }
}
