body {
    background-color: #f8f7db;
        font-family: 'Roboto', sans-serif;
    header {
        display: flex;
        justify-content: space-between;

        .homenav {
            text-decoration: underline;
        }
        .heading {
            display: flex;
        }
        
        .logo img {
            width: 100px;
            opacity: 0.7;
        }
        .logo img:hover {
            opacity: 1;
        }

        nav {
            display: flex;
            margin: 0;

            ul {
                padding: 5px;
                
                a {
                    text-decoration: none;
                    color: black;
                }
            }

            button{
                background: lightsalmon;
                color: black;
                cursor: pointer;
            }
            
        }
    }

    main {
        margin-top: 100px;
        .first {
            display: flex;
            justify-content: center;
            .homephoto > img{ 
                    border-radius: 5px;
                    width: 400px;
                    box-shadow: 8px 8px;
                    color: lightsalmon;
                    transition: 0.4s;
            }
            .homephoto >img:hover {
                        transform: scale(1.05);
            }    
            
            .hometext {
                margin-left: 80px;
                img {
                    width: 50px;
                }
                button {
                    background-color: lightsalmon;
                    color: black;
                    padding: 14px 28px;
                    border-radius: 10px;
                    cursor: pointer;
                }
                button:hover {
                    box-shadow: 5px 5px;
                    color: black;
                }
                .firsthalftitle {
                    color: rgb(32, 31, 31);
                    display: flex;
                    }
                h1 {
                    font-size: 60px;
                    margin:0;
                }
                .interact {
                    margin: 0 0 0 10px;
                    display: inline-block;
                    position: relative;
                }
                .interact::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    transform: scaleX(0);
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background-color: #000000;
                    transform-origin: bottom right;
                    transition: transform 0.5s ease-out;
                }
                .interact:hover:after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
                p {
                    margin: 0;
                    color: #05386b;
                }
                .developer {
                    margin-bottom: 36px;
                }
            }
            .homebutton {
                display: flex;
                margin-top:20px;
                button {
                    background-color: lightsalmon;
                    color: black;
                    padding: 14px 28px;
                    border-radius: 10px;
                    cursor: pointer;
                    margin-bottom: 20px;
                    }
                button:hover {
                    box-shadow: 5px 5px;
                    color: black;
                }        
                
                h5 {
                    margin: 5px;
                    margin-left: 20px;
                    margin-top: 15px;
                    display: inline-block;
                    position: relative;
                }
                h5::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    transform: scaleX(0);
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background-color: 
                    #000000;
                    transform-origin: bottom right;
                    transition: transform 0.5s ease-out;
                }
                h5:hover:after {
                        transform: scaleX(1);
                        transform-origin: bottom left;
                }
        }
            .follow {
            display: flex;
            margin: 20px;
            p {
                margin: 5px;
                font-size: 20px;
            }
            ul {
                padding: 0;
                margin: 0;
            }
            img {
                width: 25px;
                padding: 0;
            }
            }
        }
        .second {
            padding: 20px;
            display: flex;
            justify-content: center;
            border-radius: 20px;
            margin-top: 100px;
            margin-right: 150px;
            .clients {
                padding-top: 30px;
            }
            .clientlogo {
                display: flex;
                img {
                    margin-left: 50px;
                    width: 120px;
                    transition: 0.7s;
                }
                img:hover {
                    transform: scale(1.05);
                }
            }
        }
    }

    footer {
        margin-top: 100px;
    .footerlogo {
        display: flex;
        justify-content: center;
        .pic {
            img {
                width: 50px;
                padding-left: 32px;
                padding-right: 16px;
            }
        }
    }
        .logotag {
            display: flex;
            justify-content: center;
            .tags {
                padding-left: 10px;
                button {
                    background-color: lightsalmon;
                    color: black;
                    padding: 0 20px;
                    border-radius: 10px;
                    cursor: pointer;
                    margin-bottom: 10px;
                }
                button:hover {
                    box-shadow: 2px 2px;
                }
            }
        }
    }
}
