body {
  background-color: #f8f7db;
  font-family: "Roboto", sans-serif;
}
body header {
  display: flex;
  justify-content: space-between;
}
body header .homenav {
  text-decoration: underline;
}
body header .heading {
  display: flex;
}
body header .logo img {
  width: 100px;
  opacity: 0.7;
}
body header .logo img:hover {
  opacity: 1;
}
body header nav {
  display: flex;
  margin: 0;
}
body header nav ul {
  padding: 5px;
}
body header nav ul a {
  text-decoration: none;
  color: black;
}
body header nav button {
  background: lightsalmon;
  color: black;
  cursor: pointer;
}
body main {
  margin-top: 100px;
}
body main .first {
  display: flex;
  justify-content: center;
}
body main .first .homephoto > img {
  border-radius: 5px;
  width: 400px;
  box-shadow: 8px 8px;
  color: lightsalmon;
  transition: 0.4s;
}
body main .first .homephoto > img:hover {
  transform: scale(1.05);
}
body main .first .hometext {
  margin-left: 80px;
}
body main .first .hometext img {
  width: 50px;
}
body main .first .hometext button {
  background-color: lightsalmon;
  color: black;
  padding: 14px 28px;
  border-radius: 10px;
  cursor: pointer;
}
body main .first .hometext button:hover {
  box-shadow: 5px 5px;
  color: black;
}
body main .first .hometext .firsthalftitle {
  color: rgb(32, 31, 31);
  display: flex;
}
body main .first .hometext h1 {
  font-size: 60px;
  margin: 0;
}
body main .first .hometext .interact {
  margin: 0 0 0 10px;
  display: inline-block;
  position: relative;
}
body main .first .hometext .interact::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}
body main .first .hometext .interact:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
body main .first .hometext p {
  margin: 0;
  color: #05386b;
}
body main .first .hometext .developer {
  margin-bottom: 36px;
}
body main .first .homebutton {
  display: flex;
  margin-top: 20px;
}
body main .first .homebutton button {
  background-color: lightsalmon;
  color: black;
  padding: 14px 28px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}
body main .first .homebutton button:hover {
  box-shadow: 5px 5px;
  color: black;
}
body main .first .homebutton h5 {
  margin: 5px;
  margin-left: 20px;
  margin-top: 15px;
  display: inline-block;
  position: relative;
}
body main .first .homebutton h5::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}
body main .first .homebutton h5:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
body main .first .follow {
  display: flex;
  margin: 20px;
}
body main .first .follow p {
  margin: 5px;
  font-size: 20px;
}
body main .first .follow ul {
  padding: 0;
  margin: 0;
}
body main .first .follow img {
  width: 25px;
  padding: 0;
}
body main .second {
  padding: 20px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  margin-top: 100px;
  margin-right: 150px;
}
body main .second .clients {
  padding-top: 30px;
}
body main .second .clientlogo {
  display: flex;
}
body main .second .clientlogo img {
  margin-left: 50px;
  width: 120px;
  transition: 0.7s;
}
body main .second .clientlogo img:hover {
  transform: scale(1.05);
}
body footer {
  margin-top: 100px;
}
body footer .footerlogo {
  display: flex;
  justify-content: center;
}
body footer .footerlogo .pic img {
  width: 50px;
  padding-left: 32px;
  padding-right: 16px;
}
body footer .logotag {
  display: flex;
  justify-content: center;
}
body footer .logotag .tags {
  padding-left: 10px;
}
body footer .logotag .tags button {
  background-color: lightsalmon;
  color: black;
  padding: 0 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}
body footer .logotag .tags button:hover {
  box-shadow: 2px 2px;
}/*# sourceMappingURL=index.css.map */