@media (max-width: 375px) {
  .hometext {
    flex-direction: column;
    margin: 20px;
  }
  .information .follow > p {
    display: none;
  }
  .information .follow > a {
    display: none;
  }
}
@media (max-width: 857px) {
  .hometext {
    flex-direction: column;
    margin: 20px;
  }
  .information .follow > p {
    display: none;
  }
  .information .follow > a {
    display: none;
  }
}
body {
  background-color: #f8f7db;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
body header {
  display: flex;
  justify-content: space-between;
  background-color: lightsalmon;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 68px;
}
body header .contactnav {
  text-decoration: underline;
}
body header .heading {
  display: flex;
}
body header .homebutton {
  display: flex;
  margin-top: 20px;
}
body header .homebutton button {
  background-color: black;
  color: white;
  padding: 0 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 25px;
  margin-bottom: 20px;
}
body header .homebutton button:hover {
  box-shadow: 2px 2px;
  color: rgb(187, 223, 221);
}
body header .logo img {
  width: 100px;
  opacity: 0.7;
}
body header .logo img:hover {
  opacity: 1;
}
body header nav {
  display: flex;
  margin: 0;
}
body header nav ul {
  padding: 5px;
}
body header nav ul a {
  padding: 3px;
  text-decoration: none;
  color: black;
}
body header nav ul a:hover {
  background-color: lightcoral;
  border-radius: 5px;
  padding: 3px;
}
body header nav button {
  background: lightcoral;
  color: black;
  cursor: pointer;
}
body main .first {
  margin-top: 100px;
}
body main .first h1 {
  font-size: 64px;
  margin: 0;
}
body main .first .hometext {
  display: flex;
  justify-content: center;
}
body main .first .hometext form input {
  background-color: #f8f7db;
}
body main .first .hometext form button {
  margin-top: 30px;
  color: black;
  background-color: lightsalmon;
}
body main .first .hometext form button:hover {
  box-shadow: 3px 3px;
}
body main .first .information {
  margin-left: 50px;
}
body main .first .information .infoTwo img {
  width: 64px;
  margin-right: 20px;
  transition: 0.4s;
}
body main .first .information .infoTwo img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
body main .first .information .infoTwo .infoTwoA {
  display: flex;
  margin-top: 10px;
}
body main .first .information .infoTwo .infoTwoB {
  display: flex;
  margin-top: 10px;
}
body main .first .information .infoTwo .infoTwoC {
  display: flex;
  margin-top: 10px;
}
body main .first .information .infoTwo .infoTwoD {
  display: flex;
  margin-top: 10px;
}
body main .first .homephoto img {
  width: 400px;
}
body main .first .homephoto img:hover {
  box-shadow: 10px 10px;
  color: rgb(187, 223, 221);
}
body main .first .contactform {
  display: flex;
  flex-direction: column;
  height: 50%;
  margin-top: 50px;
}
body main .first .contactform input {
  border: 0;
  border-bottom: 2px solid black;
  outline: 0;
  width: 50%;
  height: 30px;
  font-weight: 700;
  padding-bottom: 20px;
}
body main .first .contactform .message {
  height: 80px;
  margin-bottom: 10px;
  width: 100%;
}
body main .first .contactform button {
  background-color: black;
  color: white;
  padding: 14px 28px;
  border-radius: 10px;
  cursor: pointer;
}
body main .first .follow {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
body main .first .follow p {
  margin: 5px;
  font-size: 20px;
}
body main .first .follow ul {
  padding: 0;
  margin: 0;
}
body main .first .follow img {
  width: 25px;
  padding: 0;
}
body main .first .backtotop {
  text-align: end;
  margin-right: 200px;
  margin-top: 80px;
}
body footer .footerlogo {
  display: flex;
  justify-content: center;
}
body footer .footerlogo .pic img {
  width: 50px;
  padding-left: 32px;
  padding-right: 16px;
}
body footer .logotag {
  display: flex;
  justify-content: center;
}
body footer .logotag .tags {
  padding-left: 10px;
}
body footer .logotag .tags button {
  background-color: lightsalmon;
  color: black;
  padding: 0 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}
body footer .logotag .tags button:hover {
  box-shadow: 2px 2px;
}/*# sourceMappingURL=contact.css.map */