@media (max-width: 1002px)  {
    .second {
        h2 {
            font-size: 1.2em;
        }
    }
}

@media (max-width: 946px)  {
    .first {
        .dp {
            max-width: 250px;
        }
    }
    .second {
        h2 {
            font-size: 1em;
        }
    }
}

@media (max-width: 908px)  {
    .second {
        h2 {
            font-size: 0.8em;
        }
    }
}

@media (max-width: 839px)  {
    .second {
        h2 {
            display: none;
        }
        .clientlogo {
            margin-left: 200px;
        }
    }
}

@media (max-width: 777px)  {
    .first {
        .hometext {
            p {
                font-size: 0.8em;
            }
        }
    }
    .second {
        h2 {
            display: none;
        }
        .clientlogo {
            margin-left: 150px;
        }
        .stm > img {
            max-width: 100px;
        }
        .afes > img {
            max-width: 100px;
        }
        .wendy > img {
            max-width: 180px;
        }
    }
}   

@media (max-width: 701px)  {
    .first {
        .dp {
            max-width: 180px;
        }
        .hometext {
            .firsthalftitle {
             h1 {
                font-size: 3em;
             }
            }
            .developer {
                h1 {
                    font-size: 3em;
                }
            }
        }
    
        .follow {
            p {
               display: none;
            }
        }
    }
    .second {
        h2 {
            display: none;
        }
    }
}

@media (max-width: 615px) {
    h1 {
        display: none;
    }
    .interact {
        display: none;
    }
    p {
        width: 200px;
    }
}

@media (max-width:492px) {
    .first {
        .dp {
            max-width: 150px;
            margin-left: 20px;
        }
        .follow {
            img {
                display: none;
            }
        }
    }
    .second {
        .clientlogo {
            .stm > img {
                max-width: 70px;
            }
            .afes > img {
                max-width: 70px;
            }
            .wendy > img {
                max-width: 120px;
            }
        }
    }
}

body {
    background-color: #f8f7db;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    header {
        display: flex;
        justify-content: space-between;
        background-color: lightsalmon;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        .homenav {
            text-decoration: underline;
        }
        .logo img {
            width: 100px;
            opacity: 0.7;
        }
        .logo img:hover {
            opacity: 1;
        }

        nav {
            display: flex;
            ul {
                padding: 5px;
                a {
                    padding: 3px;
                    text-decoration: none;
                    color: black;
                }
                a:hover {
                    background-color: lightcoral;
                    border-radius: 5px;
                }
            }

            button{
                background: lightcoral;
                color: black;
                cursor: pointer;
            }
            
        }
    }

    main {
        margin-top: 100px;
        .first {
            display: flex;
            justify-content: center;
            .homephoto > img{ 
                    border-radius: 5px;
                    width: 400px;
                    box-shadow: 8px 8px;
                    color: lightsalmon;
                    transition: 0.4s;
            }
            .homephoto >img:hover {
                        transform: scale(1.05);
            }    
            
            .hometext {
                margin-left:20px;
                img {
                    width: 50px;
                }
                button {
                    background-color: lightsalmon;
                    color: black;
                    padding: 14px 28px;
                    border-radius: 10px;
                    cursor: pointer;
                }
                button:hover {
                    box-shadow: 5px 5px;
                    color: black;
                }
                .firsthalftitle {
                    color: rgb(32, 31, 31);
                    display: flex;
                    }
                h1 {
                    font-size: 60px;
                    margin:0;
                }
                p {
                    margin: 0;
                    color: #05386b;
                }
                .developer {
                    margin-bottom: 36px;
                }
            }
            .homebutton {
                display: flex;
                margin-top:20px;
                button {
                    background-color: lightsalmon;
                    color: black;
                    padding: 14px 28px;
                    border-radius: 10px;
                    cursor: pointer;
                    margin-bottom: 20px;
                    }
                button:hover {
                    box-shadow: 5px 5px;
                    color: black;
                }        
                
                h5 {
                    margin: 5px;
                    margin-left: 20px;
                    margin-top: 15px;
                }
        }
            .follow {
            display: flex;
            margin: 20px;
            p {
                margin: 5px;
                font-size: 20px;
            }
            ul {
                padding: 0;
                margin: 0;
            }
            img {
                width: 25px;
                padding: 0;
            }
        }
    } 
        .second {
            padding: 20px;
            display: flex;
            justify-content: center;
            border-radius: 20px;
            margin-top: 100px;
            margin-right: 150px;
            .clients {
                padding-top: 30px;
            }
            .clientlogo {
                display: flex;
                img {
                    margin-left: 28px;
                    width: 160px;
                    transition: 0.7s;
                }
                img:hover {
                    transform: scale(1.05);
                }
                .afes {
                    img {
                    width: 140px;
                    margin-top: 15px;
                    }
                }
                .stm {
                    img {
                        width: 110px;
                    }
                }
                .wendy {
                    img {
                        width: 220px;
                        margin-left: 16px;
                    }
                }
            }
        }
        .backtotop{
            text-align: end;
            margin-right: 100px;
            margin-top: 80px;
        }
    }

    footer {
    .footerlogo {
        display: flex;
        justify-content: center;
        .pic {
            img {
                width: 50px;
                padding-left: 32px;
                padding-right: 16px;
            }
        }
    }
        .logotag {
            display: flex;
            justify-content: center;
            .tags {
                padding-left: 10px;
                button {
                    background-color: lightsalmon;
                    color: black;
                    padding: 0 20px;
                    border-radius: 10px;
                    cursor: pointer;
                    margin-bottom: 10px;
                }
                button:hover {
                    box-shadow: 2px 2px;
                }
            }
        }
    }
}
